<div class="receipt-container">
  <div class="table-wrapper">
    <p-table 
      [value]="receipts" 
      styleClass="receipt-table"
      [paginator]="true" 
      [rows]="3"
      [showCurrentPageReport]="false"
      [showPageLinks]="false"
      [showFirstLastIcon]="false"
      [showJumpToPageDropdown]="false"
      [showJumpToPageInput]="false">
      <ng-template pTemplate="header">
        <tr>
          <th>Receipt No</th>
          <th>Amount (LKR)</th>
          <th>Receipt Date</th>
          <th ></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-receipt>
        <tr [class.selected-row]="receipt.isSelected">
          <td>{{ receipt.receiptNo }}</td>
          <td>{{ receipt.amount | number:'1.2-2' }}</td>
          <td>
            <div class="date-time">
              <div class="date">{{ receipt.date }}</div>
              <div class="time">{{ receipt.time }}</div>
            </div>
          </td>
          <td >
            <button 
              pButton 
              type="button" 
              label="ADD" 
              icon="pi pi-plus-circle" 
              iconPos="right"
              class="add-button"
              (click)="selectReceipt(receipt)">
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <div class="custom-pagination">
          Page 1 of 4
          <button pButton type="button" icon="pi pi-chevron-left" class="p-button-text nav-button"></button>
          <button pButton type="button" icon="pi pi-chevron-right" class="p-button-text nav-button"></button>
        </div>
      </ng-template>
    </p-table>
  </div>

  <div class="summary">
    <div class="amount-section">
      <span class="label">Receipt Amount -</span>
      <span class="label">RS.{{ selectedAmount | number:'1.2-2' }}</span>
    </div>
    <button 
      pButton 
      type="button" 
      label="Confirm" 
      icon="pi pi-check" 
      iconPos="right" 
      class="confirm-button">
    </button>
  </div>
</div>