<ul>
    @for (item of userList$ | async ; track $index ){
        <li>{{item.username}}</li>
    }
        
</ul>
<app-alert [alertType]="'success'" [message]="'Success message appears'"></app-alert>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">
                Client List - {{firstName()}}
                <button class="btn btn-danger" (click) = "ChangeFname()">Change FName</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead> 
                            <tr>
                                <th>Sr No</th>
                                <th>Company Name</th>
                                <th>Person Name</th>
                                <th>Contact No</th>
                                <th>City</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of clientList; track $index ){
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.companyName | uppercase }}</td>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.city}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="onEdit(item)" >Edit</button>
                                        <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                        </td>
                                </tr>
                            }
                            @empty {
                                <tr>
                                    <td colspan="5" class="text-center">No clients found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form #form="ngForm">
                <div class="row">
                    <div class="col-6">
                        <label for="">Person Name</label>
                        <input type="text" #personName="ngModel" minlength="5" required name="contactPersonName" [(ngModel)]="clientObj.contactPersonName" class="form-control" >
                      @if(personName.touched){
                        <div class ="text-danger" >
                            @if(personName?.errors?.['required']) {
                                <span >This is required</span>
                            }
                            @if(personName?.errors?.['minlength']){
                                <span >Min % Chars Required</span>

                            }
                           </div>  
                      }
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input type="text" [(ngModel)]="clientObj.companyName" name="companyName"  class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Contact No</label>
                        <input type="text" [(ngModel)]="clientObj.contactNo" name="contactNo" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">city</label>
                        <input type="text" [(ngModel)]="clientObj.city" name="city" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">state</label>
                        <input type="text" [(ngModel)]="clientObj.state" name="state" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input type="text" [(ngModel)]="clientObj.pincode" name="pincode" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea [(ngModel)]="clientObj.address" name="address" class="form-control" ></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Employee Strength</label>
                        <input type="text" [(ngModel)]="clientObj.employeeStrength" name="employeeStrength" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">gstNo</label>
                        <input type="text" [(ngModel)]="clientObj.gstNo" name="gstNo" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">RegNo</label>
                        <input type="text" [(ngModel)]="clientObj.regNo" name="regNo" class="form-control" >
                    </div>
                </div>
                
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" [disabled]="!form.valid" (click)="onSaveClient()">
                            {{clientObj.clientId !=0 ? 'Update Client': 'Save Client'}}
                            </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>