<div class="p-4 bg-white" style="font-family: 'Inter', sans-serif;">
  
  <div class="text-center py-3 mb-4 fs-5 fw-bold bg-gray text-black border-radius">
    BSP Details In a HTML Format
  </div>

 
  <div class="trezo-card-content mb-4">
    <div class="card border-0 basic-table table-responsive shadow-none">
      <p-table 
        #dt
        [value]="details" 
        [rowHover]="true"
        [paginator]="true" 
        [rows]="3" 
        [showCurrentPageReport]="false"
        [stripedRows]="true"
        [tableStyle]="{ 'min-width': '1100px', 'table-layout': 'fixed' ,'font-size': '16px'}"
        class="table table-striped text-black fw-bold"
      >
        <ng-template pTemplate="header">
          <tr >
            <th style="width: 50px;"></th>
            <th >Facility No</th>
            <th  >Application NO</th>
            <th  style="width: 140px;">Transaction NO</th>
            <th style="width: 100px;" class="text-center ">Status</th>
            <th  style="width: 130px;">Type</th>
            <th  style="width: 120px;">Due Date</th>
            <th style="width: 200px;" class="text-center ">Reason</th>
            <th style="width: 180px;" class="text-center ">Amount Allocation</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr class="border-bottom" style="height: 80px;">
            <td class="text-center ">
              <p-checkbox [(ngModel)]="row.isSelected" [binary]="true"></p-checkbox>
            </td>

            <td style="font-size: inherit;">{{row.facilityNo}}</td>
            <td >{{row.applicationNo}}</td>
            <td >{{row.transactionNo}}</td>

            <td class="text-center" >
              <span class="trezo-badge px-3 py-1"
                    [ngClass]="row.status === 'Running' ? 'inProgress' : 'pending'"
                    [style.background-color]="'#D0F4FF'"
               [style.color]="'#093E8C'">
                {{row.status}}
              </span>
            </td>

            <td class="text-black fw-bolder ">{{row.type}}</td>

            <td >
              <div >{{row.dueDate}}</div>
              <small class="text-muted d-block" style="font-size: 12px;">{{row.dueTime}}</small>
            </td>

            <td class="text-center ">
              <p-select 
                [options]="reasons" 
                [(ngModel)]="row.reason" 
                appendTo="body"
                class="custom-dropdown w-100 h-35" 
                placeholder="Select Reason">
              </p-select>
            </td>

            <td class="text-center ">
              <div class="d-flex align-items-center gap-1 justify-content-center">
                <input 
                  type="text" 
                  pInputText 
                  [(ngModel)]="row.amountAllocation" 
                  class="form-control custom-input text-center h-35" 
                  [style]="{'width': '40px'}" />
                
                <p-select 
                  [options]="percentages" 
                  [(ngModel)]="row.allocation" 
                  appendTo="body"
                  class="custom-dropdown h-35"
                  [style]="{'width': '60px'}">
                </p-select>
              </div>
            </td>
          </tr>
        </ng-template>

       <ng-template pTemplate="paginatorright">
  <div class="d-flex align-items-center gap-2 py-2">
    <span class="text-muted fs-small">
      Page {{ currentPage }} of {{ totalPages }}
    </span>

    <p-button 
      icon="pi pi-angle-left" 
      [outlined]="true" 
      severity="secondary"
      [disabled]="(dt?.first ?? 0) === 0"
      (click)="prevPage()"
      styleClass="h-30 w-30 p-0 rounded">
    </p-button>

    <p-button 
      icon="pi pi-angle-right" 
      [outlined]="true" 
      severity="secondary"
      [disabled]="((dt?.first ?? 0) + (dt?.rows ?? 0)) >= (dt?.totalRecords ?? 0)"
      (click)="nextPage()"
      styleClass="h-30 w-30 p-0 rounded">
    </p-button>
  </div>
</ng-template>
      </p-table>
    </div>
  </div>

  

</div>