<div class="row">
    <app-alert [alertType]="'Error'" [message]="'Error message appears'" ></app-alert>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead> 
                            <tr>
                                <th>Sr No</th>
                                <th>Company Name</th>
                                <th>Person Name</th>
                                <th>Contact No</th>
                                <th>City</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of projectList(); track $index ){
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{item.clientName}}</td>
                                    <td>{{item.projectName}}</td>
                                    <td>{{item.empName}}</td>
                                    <td>{{item.startDate }}</td>
                                    <td>
                                        <button class="btn btn-primary"  >Edit</button>
                                        <button class="btn btn-danger" >Delete</button>
                                        </td>
                                </tr>
                            }
                            @empty {
                                <tr>
                                    <td colspan="5" class="text-center">No clients found.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                <div class="row">
                    <div class="col-6">
                        <label for="">Project Name</label>
                        <input type="text" formControlName="projectName"  class="form-control" >
                  
                    </div>
                    <div class="col-6">
                        <label for="">Start Date</label>
                        <input type="date"   formControlName="startDate" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Expected End Date</label>
                        <input type="date"  formControlName="expectedEndDate" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">contact Name</label>
                        <input type="text"  formControlName="contactPerson" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Contact Mobile</label>
                        <input type="text"  formControlName="contactPersonContactNo" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Contact Email</label>
                        <input type="text"  formControlName="contactPersonEmailId" class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Total Employee Count</label>
                        <textarea  formControlName="totalEmpWorking" class="form-control" ></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Project Costing</label>
                        <input type="text"  formControlName="projectCost" class="form-control" >
                    </div>
                    <div class="col-12">
                        <label for="">Project Description</label>
                        <textarea  formControlName="projectDetails" class="form-control" ></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Select Client</label>
                        <select formControlName="clientId" class="form-control">
                            <option value="">Select Client</option>
                            @for(item of clientList;track $index){
                               <option [value]="item.clientId">{{item.companyName}}</option>
                            }
                            </select>
                    </div>
                    <div class="col-6">
                        <label for="">Lead By</label>
                        <select formControlName="leadByEmpId" class="form-control">
                            <option value="">Select Employee</option>
                            @for(item of employeeList;track $index){
                               <option [value]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                            } 
                            </select>
                    </div>
                    
                </div>
                
                <div class="row pt-2">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary" >Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click)="onSaveProject()">Save Project</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>